
NET "ADDR<1>"  LOC = "P90"  ;
NET "ADDR<10>"  LOC = "P82"  ;
NET "ADDR<11>"  LOC = "P77"  ;
NET "ADDR<12>"  LOC = "P78"  ;
NET "ADDR<13>"  LOC = "P80"  ;
NET "ADDR<14>"  LOC = "P79"  ;
NET "ADDR<15>"  LOC = "P74"  ;
NET "ADDR<16>"  LOC = "P76"  ;
NET "ADDR<17>"  LOC = "P73"  ;
NET "ADDR<18>"  LOC = "P66"  ;
NET "ADDR<19>"  LOC = "P67"  ;
NET "ADDR<2>"  LOC = "P91"  ;
NET "ADDR<20>"  LOC = "P63"  ;
NET "ADDR<21>"  LOC = "P64"  ;
NET "ADDR<22>"  LOC = "P68"  ;
NET "ADDR<23>"  LOC = "P65"  ;
NET "ADDR<3>"  LOC = "P89"  ;
NET "ADDR<4>"  LOC = "P87"  ;
NET "ADDR<5>"  LOC = "P93"  ;
NET "ADDR<6>"  LOC = "P92"  ;
NET "ADDR<7>"  LOC = "P85"  ;
NET "ADDR<8>"  LOC = "P86"  ;
NET "ADDR<9>"  LOC = "P81"  ;
NET "AS_n"  LOC = "P53"  ;
NET "BA<0>"  LOC = "P27"  ;
NET "BA<1>"  LOC = "P29"  ;
NET "BERR_n"  LOC = "P70"  ;
NET "CAS_n"  LOC = "P20"  ;
NET "CKE"  LOC = "P25"  ;
NET "DBUS<12>"  LOC = "P59"  ;
NET "DBUS<13>"  LOC = "P58"  ;
NET "DBUS<14>"  LOC = "P61"  ;
NET "DBUS<15>"  LOC = "P60"  ;
NET "DQMH"  LOC = "P19"  ;
NET "DQML"  LOC = "P17"  ;
NET "DTACK_n"  LOC = "P56"  ;
NET "ECLK"  LOC = "P71"  ;
NET "EXTEN_n"  LOC = "P10"  ;
NET "A500"   LOC = "P11"  ;
NET "FLASH_A18"  LOC = "P9"  ;
NET "FLASH_A19"  LOC = "P96"  ;
NET "FLASH_BANK_SEL"  LOC = "P8"  ;
NET "FLASH_CE_n"  LOC = "P99"  ;
NET "FLASH_EN_n"  LOC = "P50"  ;
NET "IDE_ROMEN"  LOC = "P1"  ;
NET "IDEBUF_OE"  LOC = "P7"  ;
NET "IDECS1_n"  LOC = "P4"  ;
NET "IDECS2_n"  LOC = "P3"  ;
NET "IDEEN_n"  LOC = "P49"  ;
NET "IOR_n"  LOC = "P97"  ;
NET "IORDY"  LOC = "P6"  ;
NET "IOW_n"  LOC = "P2"  ;
NET "LDS_n"  LOC = "P55"  ;
NET "MA<0>"  LOC = "P34"  ;
NET "MA<1>"  LOC = "P36"  ;
NET "MA<10>"  LOC = "P32"  ;
NET "MA<11>"  LOC = "P28"  ;
NET "MA<2>"  LOC = "P39"  ;
NET "MA<3>"  LOC = "P41"  ;
NET "MA<4>"  LOC = "P42"  ;
NET "MA<5>"  LOC = "P40"  ;
NET "MA<6>"  LOC = "P37"  ;
NET "MA<7>"  LOC = "P35"  ;
NET "MA<8>"  LOC = "P33"  ;
NET "MA<9>"  LOC = "P30"  ;
NET "MEMCLK"  BUFG = "CLK" ;
NET "MEMCLK"  LOC = "P23"  ;
NET "MEMW_n"  LOC = "P18"  ;
NET "OVR_1_n"  LOC = "P94"  ;
NET "OVR_2_n"  LOC = "P95"  ;
NET "RAM_EN_n"  LOC = "P43"  ;
NET "RAMCS_n"  LOC = "P24"  ;
NET "RAMOE_n"  LOC = "P16"  ;
NET "RANGER_EN_n"  LOC = "P46"  ;
NET "RAS_n"  LOC = "P22"  ;
NET "RESET_n"  LOC = "P72"  ;
NET "RW"  LOC = "P54"  ;
NET "UDS_n"  LOC = "P52"  ;

NET "MEMCLK" TNM_NET = MEMCLK;
TIMESPEC TS_CLK = PERIOD "MEMCLK" 50 MHz HIGH 50%;
